.map-wrapper {
  width: 55%;
  background-color: #eee;
  position: relative;
  .map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    .popup-store__image {
      width: 100%;
    }
  }
  .invisible-map {
    display: none;
  }
  .stores-message {
    display: none;
  }
}

@media (max-width: 900px) {
  .map-wrapper {
    width: 50%;
  }
}

@media (max-width: 750px) {
  .map-wrapper {
    width: 100%;
    .map {
      position: relative;
      margin-top: 1rem;
    }
    .stores-message {
      padding: 1rem;
    }
  }
}
